<header>
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark" style="background-color: #2a9d8f;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">The Tech Blog</a>
            <div id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {{#if result.isLoggedIn}}
                    <li class="nav-item">
                        <a class="nav-link active" style="color: #e63946; font-weight:bolder" href="/dashboard">Hi,
                            {{result.userName}}</a>
                    </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    {{#unless result.isLoggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {{/unless}}
                    <li class="nav-item">
                        <a class="nav-link" id="logout-btn" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container" id="BlogDetailsContainer">
    {{#each result.data as |d|}}
    <div class="card mt-4" style="background-color: #e9d8a6; border: 2px solid black;">
        <div class="card-header  text-white" style="background-color: #2a9d8f;">
            <div class="d-flex justify-content-between">
                <h5 class="card-title ">{{d.title}}</h5>
                <h6 class="card-subtitle mb-2 fw-lighter"><small>Posted by {{d.blogger }} on {{d.createTime}}</small>
                </h6>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{d.text}}</p>
            {{#if ../result.isLoggedIn}}
            <a class="text-dark text-muted" data-bs-toggle="collapse" href="#collapseOne-{{@index}}" role="button"
                aria-expanded="false" aria-controls="collapseOne-{{@index}}" style="text-decoration: None">
                <small>View all comments</small>
            </a>
            <div id="collapseOne-{{@index}}" class="bg-dark text-white collapse">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item  text-white fw-lighter" style="background-color: #264653">
                        {{#each d.comments as |c|}}
                        <p style="font-size: 0.8rem">
                            <small><b>{{c.commenter}}</b><style="font-size: 0.5rem"> {{c.createTime}}</style>
                            </small><br>
                            <small>{{c.comment}}</small>
                        </p>
                        {{/each}}
                        <form class="addCommentForm">
                            <div class="form-group">
                                <textarea class="form-control" id="newcomment-{{d.BlogId}}" rows="2"></textarea>
                                <label style="font-size: 0.8rem; font-weight:bolder" id="alertMsg-{{d.BlogId}}"
                                    hidden></label>
                                <div>
                                    <button type="submit" id="commentBtn" data-blog-id={{d.BlogId}}
                                        data-user-id={{d.UserId}} class="btn btn-light mt-3 text-white"
                                        style="background-color: #2a9d8f; border: none; font-size: 0.8rem">Add
                                        Comment</button>

                                </div>
                        </form>
                    </li>
                </ul>
            </div>

            {{/if}}
        </div>
    </div>
    {{/each}}
</div>
<script src="/js/addComment.js"></script>
<script src="/js/logout.js"></script>